<a href="https://colab.research.google.com/github/selim-ahmed/Dataset-Analysis-with-Iris-Dataset/blob/main/Iris_Dataset_Analysis_Selim_Ahmed(2321668).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Modules

In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

Loading the dataset

In [4]:
ds = pd.read_csv('https://raw.githubusercontent.com/selim-ahmed/Dataset-Analysis-with-Iris-Dataset/main/Iris.csv')
# ds = Data Set
ds.head()

   Speial Length  Special Width  Petal Length  Petal width      Species
0            5.1            3.5           1.4          0.2  Iris-setosa
1            4.9            3.0           1.4          0.2  Iris-setosa
2            4.7            3.2           1.3          0.2  Iris-setosa
3            4.6            3.1           1.5          0.2  Iris-setosa
4            5.0            3.6           1.4          0.2  Iris-setosa

In [5]:
# to display status about data
ds.describe()

       Speial Length  Special Width  Petal Length  Petal width
count     150.000000     150.000000    150.000000   150.000000
mean        5.843333       3.054000      3.758667     1.198667
std         0.828066       0.433594      1.764420     0.763161
min         4.300000       2.000000      1.000000     0.100000
25%         5.100000       2.800000      1.600000     0.300000
50%         5.800000       3.000000      4.350000     1.300000
75%         6.400000       3.300000      5.100000     1.800000
max         7.900000       4.400000      6.900000     2.500000

In [6]:
# Basic info about datatype
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Speial Length  150 non-null    float64
 1   Special Width  150 non-null    float64
 2   Petal Length   150 non-null    float64
 3   Petal width    150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
# To display no. of samples on each class
ds['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

Preprocessing the dataset

In [8]:
# check for null values
ds.isnull().sum()

Speial Length    0
Special Width    0
Petal Length     0
Petal width      0
Species          0
dtype: int64